{
    "bracketSpacing": true,
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "trailingComma": "all"
}
