button {
    position: fixed;
    top: 50%;
    right: 10px;

    height: 30px;
    width: 30px;

    margin-top: -50%;

    border-radius: 50%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    z-index: 9999;
    outline: none;

    background-color: white;
    background-position: center center;
    background-size: cover;
    border: 1px dashed black;
    padding: 5px;
    background-image: url('../asset/biotech-black-18dp.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
}
